---
import "@/styles/globals.css";
import Layout from "@/components/Layout/Layout.astro";
---

<Layout>
  <main class="md:flex md:gap-28 items-center text-center">
    <img
      src="/monoyaffu.png"
      alt="Illustration of a fox"
      class="rounded-full dark:bg-gray-700"
      width="400"
      height="400"
      style="aspect-ratio: 400 / 400; object-fit: cover;"
    />
    <h1 class="text-3xl font-bold mt-10">Hello World Yaffuです。</h1>
  </main>
</Layout>
